@import "theme.css";

.container-trilha{
    display:flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;

}
.container-trilha h1{
    color: white;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 0px;
}
.container-trilha h3{
    margin: 3px 0px;
}

.trilha{
    position:relative;
    margin-top:50px;
    }
    
    
    .trilha::before{
    content:"";
    position:absolute;
    left:50%;
    top:0;
    width:10px;
    height:100%;
    background:#243a5e;
    transform:translateX(-50%);
    border-radius: 50%;
    }
    
    .nivel{
    width:80px;
    height:80px;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    margin:60px auto;
    font-size:30px;
    position:relative;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    }
    .nivel:hover{
        scale: 1.05;
        transition: 0.3s;
        box-shadow: 0px 5px 20px rgba(255, 255, 255, 0.200);
        
    }
    .ativo{
    background:#3b82f6;
    }
    
    .bloqueado{
    background:#374151;
    }