
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Press+Start+2P&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* Configurações gerais */
:root {
  --font-size:16px;
  --background: #0b152e;
  --primary: #030213;
  --secondary: rgba(216, 233, 253, 0.54);
  --secondary-foreground:#daeafd7e;
  --border-bottom: rgba(255, 255, 255, 0.100);
  --font-weight-medium: 500;
  --font-weight-normal: 400;
  --frequency-color: rgb(254, 123, 1) ;
  --diamond-color:rgb(82, 171, 248);
  --xp-color:rgb(229, 255, 0);
  --frequency-background:rgba(254, 123, 1, 0.200);
  --diamond-background:rgba(82, 171, 248, 0.200);
  --xp-background:rgba(229, 255, 0, 0.2);
  --card-hover:rgba(255, 255, 255, 0.174);

}



  html, body {
    font-size: var(--font-size);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0f172a; /* Garante o fundo azul escuro geral */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  /* O container principal que segura a Sidebar e o Content */
.layout {
  display: flex;
  min-height: 100vh;
  width: 99vw;
}

/* A área direita (onde fica o Topbar e as Lições) */
.content {
  flex: 1; /* Faz ocupar todo o resto da tela */
  display: flex;
  flex-direction: column;
  /* SE TIVER PADDING AQUI, É ELE QUE CAUSA O VÃO! DEIXE 0 */
  padding: 0; 
  margin: 0;
}

  .content{
    margin-left: 252px; 
    margin-top: 30px;
}
  
  h3{
    color: var(--secondary);
  }
  
  a {
  text-decoration: none !important;
}
 
  label {
    font-size: var(--text-base);
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
  }

  button {
    font-size: var(--text-base);
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
  }

  input {
    font-size: var(--text-base);
    font-weight: var(--font-weight-normal);
    line-height: 1.5;
  }

.left-sidebar{
   position: fixed;
  top: 0;
  left: 0;
  width:250px;
  height:100vh;
  
  border-right:2px solid var(--border-bottom);
}
.container-sidebar{
  
    justify-content: center;
    display: flex;
    flex-direction: column;
   
}
.container-lg{
    padding: 10px;
    margin-bottom: 20px;
}

.nav-list{
    display: block;
    padding: 0;
    list-style: none;
   
}
.nav-list i {
    width: 30px;
    margin: 15px 0px;
    padding: 6px;
    color: var(--secondary);
    transition: 0.5s;
}
.nav-list:hover a:hover  i {
color: white;
transition: 0.5s;
}

.nav-items{
    margin: 20px 10px;
    padding-left: 15px;
    border-radius: 20px;
    transition: 0.5s;
    display:flex;
    align-items:center;
    gap:12px;
    cursor: pointer;
    
}
.nav-items:hover span{
    color: white;
    transition: 0.5s ;
}
.nav-items span{
    display:flex;
    width:100%;       
    height:100%; 
    font-size: 25px;
    font-weight:bolder ;
    color: var(--secondary);
    text-decoration: none;
    list-style: none;
    align-items: center;
    gap: 8px;
    transition: 0.5s;
}
.nav-link:focus {
  outline: none;
  text-decoration: none;
}


    
.nav-items:hover{
    background-color: var(--card-hover);
    border-radius: 15px;
    transition: 0.5s ;
}
.nav-items.active{
  background:#337dfc1e;
}
.nav-items.active i, .nav-items.active span{
  color: white;
}

.top-sidebar{
  background-color: var(--background);
  position: fixed;
  top: 0;
  left: 252px; 
  right: 0;
  height: 70px;
  z-index: 1000;
  display:flex;
  justify-content:flex-end;
  border-bottom:2px solid var(--border-bottom);
  padding:10px 20px;
}

.top-sidebar ul{
  display:flex;
  gap:15px;
  list-style:none;
    
}
.top-sidebar i {
    margin-right: 8px;
}
.top-sidebar li{
   text-align: center;
   
    padding: 7px 15px;
    margin: 1px 10px;
    border-radius: 30px;
    font-weight: bold;
}


.frequency{
    background-color: var(--frequency-background);
    color:var(--frequency-color) ;
}
.diamond{
    background-color: var(--diamond-background);
    color: var(--diamond-color);
}

.xp{
  background-color: var(--xp-background);
  color: var(--xp-color);
}
.logout{
  padding: 8px 15px;
   background-color: #ff6b81;
    color: white;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     transition: 0.2s;
}
.logout:hover{
  background-color: #ff4757;
  transition: 0.2s;
  scale: 1.05;
}